<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" item-width="50%" item-height="auto">
        <title>Space AG | Control</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
        <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="./Gauge/css/cmGauge.css">
</head>
<style>
    body { margin:0; padding:0;color:#717171 }
    li{
        list-style: none;
    }
    a.dropdown-toggle.detalle-track{
        border-radius: 100px;
        width: 56px;
        margin: 0 5px;
    }
    a#upload-data-btn.nav-link{
        margin-right: 10px;
    }
    #map { width:100%; height: 250px; z-index: -1}
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        padding-top: 18px;
    }
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 14px;
        color: #717171;
        display: inline;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 21px;
    }
    .search-trackBoard{
        padding-top: 24px;
        padding-bottom: 24px;
    }
    #sidenavImg{
        margin-left: 14px;
    }
    .clearable{
        position: relative;
        display: inline-block;
        margin: 5px 10px 15px;
    }
    .clearable input[type=text]{
        padding-right: 24px;
        width: 86%;
        box-sizing: border-box;
        float: right;
        margin-top: -7px;
    }
    .clearable_clear{
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 8px;
        font-style: normal;
        font-size: 1.2em;
        user-select: none;
        cursor: pointer;
    }
    .clearable input::-ms-clear{
        display: none;
    }

    /*sensor list*/
    #sensorList{
        list-style: none;
        padding-left: 0;
    }
    .idBoard{
        display: inline;
    }
    .track-board i{
        float: right;
        padding: 0 5px;
    }



/*nav*/
nav.navbar{
    background:transparent;
}
a.dropdown-toggle{
    color: #036920;
}
a#user-menu-btn{
    color: #036920;
}

  /*jumbotron*/
  .jumbotron{
      margin-bottom: 0;
      padding: 0;
      border-radius: 0;
  }

  [role="main"]{
      padding-top: 0;
  }
    
    .view-selection-sensor{
        display: inherit;
      margin: auto;
    }
    .view-sensor{
        color: #036920;
        float: right;
        border: 1px solid #dfdfdf;
        background: #e6e6e6;
    }

    /*list card*/
   .sensorList{
       margin: 0 20px;
       overflow-y: scroll;
       height: 300px;
   }
   div.card-header{
       padding: 5px;
   }
   .card.general{
       border: none;
   }
   .card-header.general{
       background: #fff;
       border: none;
       color: #036920;
   }
   .card-body{
       padding: 0.9rem 1.25rem;
   }
   button.name{
       color: #717171;
   }
   a.general-track{
       color: #036920;
   }
    /*charts js*/
    
    @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }

    /************************************************/
    .all-sensor{
        margin-top: 50px;
    }
    div.card-body.active{
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }
    div.card-body.active h6{
        margin-top: 10px !important;
        margin-bottom: 0 !important;
        float: right;
    }
    div.card-body.title{
        padding: 2.9rem 1.25rem 0;
        border: 1px solid #e9ecef;
        background: #e9ecef;
        color: #036920;
        cursor: pointer;
    }
    div.card-body.title-general{
        background: #036920;
        color: #fff;
        border: 1px solid #036920;
    }
    h5{
        font-weight: normal;
    }
    .list-sesor-trackboard{
        margin-bottom: 30px;
    }
#dot {
      height: 10px;
      width: 10px;
      background-color: #dfdfdf;
      border-radius: 50%;
      display: inline;
      margin-bottom: 10px;
    }

    #dot span#connected-label {
      display: none;
    }

    #dot span#not-connected-label {
      display: inline;

    }

    #dot.connected {
      background-color: #69af22;
    }
    #dot.active {
      background-color: #69af22;
    }
    span#dot span {
        position: relative;
        left: 15px;
        top: -2px;
        width: 100%;
    }

    #dot.connected span#connected-label {
      display: inline;
    }

    #dot.connected span#not-connected-label {
      display: none;
    }

    a.dropdown-item:hover{
        color: #69af22;
    }
</style>
<body>
    <div id="mySidenav" class="sidenav">
        <a id="imgLogo" href="sensor.html"><img src="./img/spaceag.png" width="150px" alt="" id="sidenavImg"></a>
        <form action="" class="container search-trackBoard">
            <div class="form-row align-items-center">
                    <div class=" my-1">
                        <span action="" class="clearable">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control" id="search" placeholder="Search..">
                            <i class="clearable_clear">&times;</i>
                        </span>
                    </div>
            </div>
        </form>
        <div class="accordion sensorList" id="accordionExample">
            <div class="card  list" >
              <div class="card-header" id="headingOne">
                  <button class="btn btn-link name" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    TrackBoard #1  
                  </button >
                  <button class=" btn btn-light view-sensor">
                        <span class="fas fa-arrows-alt"></span>
                  </button>
              </div>
          
              <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div id="producción-submenu" class="collapse show" aria-labelledby="headingOne" data-parent="#data-variable-submenu">
                        <div class="collapse-menu-body">
                          <div class="list-group list-group-flush" id="list-tab" role="tablist">
                                <a class="list-group-item" href="#">
                                    <span class="fas fa-share"></span> Compartir
                                </a>
                                <a class="list-group-item" href="#">
                                    <span class="fas fa-pencil-alt"></span> Renombrar
                                </a>
                                <a class="list-group-item" href="#">
                                    <span class="fas fa-trash-alt"></span> Eliminar
                                </a>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card  list">
              <div class="card-header" id="headingTwo">
                  <button class="btn btn-link collapsed list name" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Sensor Board
                  </button>
                  <button class=" btn btn-light view-sensor">
                        <span class="fas fa-arrows-alt"></span>
                  </button>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div id="producción-submenu" class="collapse show" aria-labelledby="headingOne" data-parent="#data-variable-submenu">
                        <div class="collapse-menu-body">
                            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                                <a class="list-group-item" href="#">
                                    <span class="fas fa-share"></span> Compartir
                                </a>
                                <a class="list-group-item" href="#">
                                    <span class="fas fa-pencil-alt"></span> Renombrar
                                </a>
                                <a class="list-group-item" href="#">
                                    <span class="fas fa-trash-alt"></span> Eliminar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card list">
              <div class="card-header" id="headingThree">
                  <button class="btn btn-link collapsed list name" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Tractor Arandanos
                  </button>
                  <button class=" btn btn-light view-sensor">
                        <span class="fas fa-arrows-alt"></span>
                  </button>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <div id="producción-submenu" class="collapse show" aria-labelledby="headingOne" data-parent="#data-variable-submenu">
                        <div class="collapse-menu-body">
                            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                                <a class="list-group-item" href="#">
                                    <span class="fas fa-share"></span> Compartir
                                </a>
                                <a class="list-group-item" href="#">
                                    <span class="fas fa-pencil-alt"></span> Renombrar
                                </a>
                                <a class="list-group-item" href="#">
                                    <span class="fas fa-trash-alt"></span> Eliminar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="card  list" >
                    <div class="card-header" id="headingOne">
                        <button class="btn btn-link name" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="true" aria-controls="collapseOne">
                          TrackBoard  
                        </button >
                        <button class=" btn btn-light view-sensor">
                              <span class="fas fa-arrows-alt"></span>
                        </button>
                    </div>
                
                    <div id="collapsefour" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                          <div id="producción-submenu" class="collapse show" aria-labelledby="headingOne" data-parent="#data-variable-submenu">
                              <div class="collapse-menu-body">
                                <div class="list-group list-group-flush" id="list-tab" role="tablist">
                                      <a class="list-group-item" href="#">
                                          <span class="fas fa-share"></span> Compartir
                                      </a>
                                      <a class="list-group-item" href="#">
                                          <span class="fas fa-pencil-alt"></span> Renombrar
                                      </a>
                                      <a class="list-group-item" href="#">
                                          <span class="fas fa-trash-alt"></span> Eliminar
                                      </a>
                                </div>
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card  list" >
                        <div class="card-header" id="headingOne">
                            <button class="btn btn-link name" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="true" aria-controls="collapseOne">
                              Sensor 
                            </button >
                            <button class=" btn btn-light view-sensor">
                                  <span class="fas fa-arrows-alt"></span>
                            </button>
                        </div>
                    
                        <div id="collapsefive" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                              <div id="producción-submenu" class="collapse show" aria-labelledby="headingOne" data-parent="#data-variable-submenu">
                                  <div class="collapse-menu-body">
                                    <div class="list-group list-group-flush" id="list-tab" role="tablist">
                                          <a class="list-group-item" href="#">
                                              <span class="fas fa-share"></span> Compartir
                                          </a>
                                          <a class="list-group-item" href="#">
                                              <span class="fas fa-pencil-alt"></span> Renombrar
                                          </a>
                                          <a class="list-group-item" href="#">
                                              <span class="fas fa-trash-alt"></span> Eliminar
                                          </a>
                                    </div>
                                  </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card  list" >
                            <div class="card-header" id="headingOne">
                                <button class="btn btn-link name" type="button" data-toggle="collapse" data-target="#collapsesix" aria-expanded="true" aria-controls="collapseOne">
                                  Sensor A
                                </button >
                                <button class=" btn btn-light view-sensor">
                                      <span class="fas fa-arrows-alt"></span>
                                </button>
                            </div>
                        
                            <div id="collapsesix" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                              <div class="card-body">
                                  <div id="producción-submenu" class="collapse show" aria-labelledby="headingOne" data-parent="#data-variable-submenu">
                                      <div class="collapse-menu-body">
                                        <div class="list-group list-group-flush" id="list-tab" role="tablist">
                                              <a class="list-group-item" href="#">
                                                  <span class="fas fa-share"></span> Compartir
                                              </a>
                                              <a class="list-group-item" href="#">
                                                  <span class="fas fa-pencil-alt"></span> Renombrar
                                              </a>
                                              <a class="list-group-item" href="#">
                                                  <span class="fas fa-trash-alt"></span> Eliminar
                                              </a>
                                        </div>
                                      </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card  list" >
                                <div class="card-header" id="headingOne">
                                    <button class="btn btn-link name" type="button" data-toggle="collapse" data-target="#collapseseven" aria-expanded="true" aria-controls="collapseOne">
                                      tractor palto
                                    </button >
                                    <button class=" btn btn-light view-sensor">
                                          <span class="fas fa-arrows-alt"></span>
                                    </button>
                                </div>
                            
                                <div id="collapseseven" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                  <div class="card-body">
                                      <div id="producción-submenu" class="collapse show" aria-labelledby="headingOne" data-parent="#data-variable-submenu">
                                          <div class="collapse-menu-body">
                                            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                                                  <a class="list-group-item" href="#">
                                                      <span class="fas fa-share"></span> Compartir
                                                  </a>
                                                  <a class="list-group-item" href="#">
                                                      <span class="fas fa-pencil-alt"></span> Renombrar
                                                  </a>
                                                  <a class="list-group-item" href="#">
                                                      <span class="fas fa-trash-alt"></span> Eliminar
                                                  </a>
                                            </div>
                                          </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
          </div>
        <br>
        <br>
        <br>
          <div class="card general" >
                <div class="card-header general" id="">
                    <i class="fas fa-map-marker-alt"></i>
                    <button class="btn btn-link name" >
                      GENERAL
                    </button >
                    <button class=" btn btn-light view-sensor">
                          <span class="fas fa-arrows-alt"></span>
                    </button>
                </div>
        </div>
    </div>
    <header id="main-header">
		<div class="container-fluid">
			<main class="navbar navbar-expand-lg">
				<a class="navbar-brand" href="#">
					<img src="./img/spaceag.png" width="150px" id="spaceag-top-nabvar-brand" alt="SpaceAG">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				  	<span class="navbar-toggler-icon"></span>
				</button>
				
				<div class="collapse navbar-collapse" id="navbarNav">
				  	<ul class="navbar-nav ml-auto user">
					    <li class="nav-item">
						      	<a id="upload-data-btn" class="nav-link btn btn-light dropdown-toggle" href="#" role="button" id="upload-data-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						      		<i class="fas fa-arrow-up right-margin"></i>
						      		Nuevo Tractor
						      	</a>	
					    </li>
					    <li class="nav-item">
					      	<a class="nav-link btn btn-light dropdown-toggle dropdown-toggle-white" role="button" id="user-menu-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    		<i class="fas fa-user-circle"></i>
					    	</a>
					    	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-menu-btn">
						    	<div class="dropdown-item dropdown-title"> 
						    		Spaceag
						    	</div>					    		
						    	<a class="dropdown-item" href="{% url 'password_change' %}">
						    		Cambiar contraseña
						    	</a>
						    	<a class="dropdown-item" href="{% url 'logout' %}">
						    		<i class="fas fa-sign-out-alt"></i>
						    		Cerrar sessión
						    	</a>
						  	</div>
					    </li>
				  	</ul>
				</div>
			</nav>		
		</div>
	</header> 
    <section class="jumbotron">
       <div class="container-fluid">
			<nav class="navbar navbar-expand">
               
				<div class="collapse navbar-collapse text-center " id="">
				  	<ul class="navbar-nav ml-auto view-selection-sensor">
					    <li class="nav-item">
							  	<a class="crop-selection-menu-btn btn btn-light dropdown-toggle detalle-track" href="#" role="button" id="org-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    	<i class="fas fa-search"></i>
							  	</a>
					    </li>					    
					    <li class="nav-item">
                          	<div class="dropdown">
							  	<a class="crop-selection-menu-btn btn btn-light dropdown-toggle detalle-track" href="#" role="button" id="farm-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    	<i class="fas fa-arrows-alt-v"></i>
							  	</a>
							  	<div class="dropdown-menu" aria-labelledby="farm-dropdown">
							    	<a class="dropdown-item" href="#">Alfabéticamente</a>
                                    <a class="dropdown-item" href="#">Última actualización</a>
                                    <a class="dropdown-item" href="#">Última creado</a>
							 	</div>
							</div>
					    </li>					    
					    <li class="nav-item">
                            <a class="crop-selection-menu-btn btn btn-light dropdown-toggle detalle-track general-board-sensor-list" href="#" role="button" id="crop-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-th"></i>
                            </a>
					    </li>
				  	</ul>
				</div>
			</main>		
		</div>
    </section>
    <div class="container all-sensor">
        <div class="row list-sesor-trackboard">
                <div class="col variables-value">
                    <div class="card" >
                            <div class="card-body title title-general">
                                <h5 class="card-title">General</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group list-group-item">
                                    <span>A Day Ago</span>
                                </li>
                            </ul>
                            <div class="card-body active">
                                <h6>3 activos /4 inactivos</h6>
                            </div>
                    </div>
                </div>
                <div class="col variables-value">
                    <div class="card" >
                            <div class="card-body title">
                                <h5 class="card-title">TrackBoard #1</h5>
                                
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group list-group-item">
                                    <span>25 min Ago</span>
                                </li>
                            </ul>
                            <div class="card-body active">
                                    <h6 id="connected-bar" class="sidebar-heading d-flex justify-content-between  px-3 mt-4 mb-1 text-muted">
                                    <span id="dot">
                                        <span id="connected-label">
                                        </span> 
                                        <span id="not-connected-label">
                                        </span> 
                                    </span> 
                                </h6>
                            </div>
                    </div>
                </div>
                <div class="col variables-value">
                    <div class="card" >
                            <div class="card-body title">
                                <h5 class="card-title">Sensor Board</h5>
                                
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group list-group-item">
                                    <span>1 min Ago</span>
                                </li>
                            </ul>
                            <div class="card-body active">
                                    <h6 id="connected-bar" class="sidebar-heading d-flex justify-content-between  px-3 mt-4 mb-1 text-muted">
                                    <span id="dot">
                                        <span id="connected-label">
                                        </span> 
                                        <span id="not-connected-label">
                                        </span> 
                                    </span> 
                                </h6>
                            </div>
                    </div>
                </div>
                <div class="col variables-value">
                    <div class="card" >
                            <div class="card-body title">
                                <h5 class="card-title">Tractor Arandanos</h5>
                                
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group list-group-item">
                                    <span>Active</span>
                                </li>
                            </ul>
                            <div class="card-body active">
                                    <h6 id="connected-bar" class="sidebar-heading d-flex justify-content-between  px-3 mt-4 mb-1 text-muted">
                                    <span id="dot" class="active">
                                        <span id="connected-label">
                                        </span> 
                                        <span id="not-connected-label">
                                        </span> 
                                    </span> 
                                </h6>
                            </div>
                    </div>
                </div>
        </div>
        <div class="row list-sesor-trackboard">
                <div class="col variables-value">
                        <div class="card" >
                                <div class="card-body title">
                                    <h5 class="card-title">TrackBoard</h5>
                                    
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group list-group-item">
                                        <span>1 min Ago</span>
                                    </li>
                                </ul>
                                <div class="card-body active">
                                        <h6 id="connected-bar" class="sidebar-heading d-flex justify-content-between  px-3 mt-4 mb-1 text-muted">
                                        <span id="dot">
                                            <span id="connected-label">
                                            </span> 
                                            <span id="not-connected-label">
                                            </span> 
                                        </span> 
                                    </h6>
                                </div>
                        </div>
                    </div>
                <div class="col variables-value">
                    <div class="card" >
                            <div class="card-body title">
                                <h5 class="card-title">Sensor</h5>
                                
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group list-group-item">
                                    <span>Active</span>
                                </li>
                            </ul>
                            <div class="card-body active">
                                    <h6 id="connected-bar" class="sidebar-heading d-flex justify-content-between  px-3 mt-4 mb-1 text-muted">
                                    <span id="dot" class="active">
                                        <span id="connected-label">
                                        </span> 
                                        <span id="not-connected-label">
                                        </span> 
                                    </span> 
                                </h6>
                            </div>
                    </div>
                </div>
                <div class="col variables-value">
                    <div class="card" >
                            <div class="card-body title">
                                <h5 class="card-title">Sensor A</h5>
                                
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group list-group-item">
                                    <span>10 seg Ago</span>
                                </li>
                            </ul>
                            <div class="card-body active">
                                    <h6 id="connected-bar" class="sidebar-heading d-flex justify-content-between  px-3 mt-4 mb-1 text-muted">
                                    <span id="dot">
                                        <span id="connected-label">
                                        </span> 
                                        <span id="not-connected-label">
                                        </span> 
                                    </span> 
                                </h6>
                            </div>
                    </div>
                </div>
                <div class="col variables-value">
                    <div class="card" >
                            <div class="card-body title">
                                <h5 class="card-title">Tractor palto</h5>
                                
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group list-group-item">
                                    <span>Active</span>
                                </li>
                            </ul>
                            <div class="card-body active">
                                    <h6 id="connected-bar" class="sidebar-heading d-flex justify-content-between  px-3 mt-4 mb-1 text-muted">
                                    <span id="dot" class="active">
                                        <span id="connected-label">
                                        </span> 
                                        <span id="not-connected-label">
                                        </span> 
                                    </span> 
                                </h6>
                            </div>
                    </div>
                </div>
        </div>
    </div>
    
   



<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet.sync@0.2.4/L.Map.Sync.min.js"></script>
<script src="./Gauge/js/cmGauge.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
<script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/"; ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];</script>
<script type="text/javascript">

    $('#spaceag-top-nabvar-brand').click(function(){
        location.href='sensor.html';
    })
    $('.general-board-sensor-list').click(function(){
        location.href='list.html';
    })
</script>
</body>
</html>